<div class="card">
  <div class="header">
    <h2 class="title">Flight Search</h2>
  </div>
  <div class="content">
    <form #searchForm="ngForm">
      <div class="form-group">
        <label>From:</label>
        <input [(ngModel)]="from" name="from" class="form-control" required minlength="3" [city]="['Hamburg', 'Berlin']" />
      </div>
      <div
        class="alert alert-danger"
        *ngIf="searchForm?.controls?.['from']?.hasError('required')">
        This is a mandatory field, please enter a value!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="searchForm?.controls?.['from']?.hasError('minlength')">
        Please enter at least {{ searchForm?.controls?.['from']?.errors?.['minlength']?.requiredLength }} chars
        (you entered {{ searchForm?.controls?.['from']?.errors?.['minlength']?.actualLength }} only)!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="searchForm?.controls?.['from']?.hasError('city')">
        This city name is not allowed (you entered {{ searchForm?.controls?.['from']?.errors?.['city']?.actualCity }})!
        Allowed cities are: {{ searchForm?.controls?.['from']?.errors?.['city']?.validCities.join(', ') }}
      </div>
      <pre *ngIf="searchForm?.controls?.['from']?.errors">{{
        searchForm?.controls?.['from']?.errors | json
      }}</pre>

      <div class="form-group">
        <label>To:</label>
        <input [(ngModel)]="to" name="to" class="form-control" required minlength="3" [city]="['Graz', 'Wien']" />
      </div>
      <div
        class="alert alert-danger"
        *ngIf="searchForm?.controls?.['to']?.hasError('required')">
        This is a mandatory field, please enter a value!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="searchForm?.controls?.['to']?.hasError('minlength')">
        Please enter at least {{ searchForm?.controls?.['to']?.errors?.['minlength']?.requiredLength }} chars
        (you entered {{ searchForm?.controls?.['to']?.errors?.['minlength']?.actualLength }} only)!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="searchForm?.controls?.['to']?.hasError('city')">
        This city name is not allowed (you entered {{ searchForm?.controls?.['to']?.errors?.['city']?.actualCity }})!
        Allowed cities are: {{ searchForm?.controls?.['to']?.errors?.['city']?.validCities.join(', ') }}
      </div>
      <pre *ngIf="searchForm?.controls?.['to']?.errors">{{
        searchForm?.controls?.['to']?.errors | json
      }}</pre>

      <div class="form-group">
        <button
          (click)="search()"
          [disabled]="!searchForm?.valid"
          class="btn btn-default">Search</button>
        <button
          (click)="changeName()"
          class="btn btn-default">change State</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div
    *ngFor="let flight of flights"
    class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <app-flight-card
      [item]="flight"
      [(selected)]="basket[flight.id]">

      <span>This is my new content! :)</span>
      <span myAttr class="my-extra-title">My extra title!</span>

    </app-flight-card>
  </div>
</div>

<div class="card">
  <div class="content">
    <pre>{{ basket | json }}</pre>
  </div>
</div>
